.root {
    -fx-background-color: linear-gradient(to bottom right, #E3F2FD, #FFFFFF, #E3F2FD);
}

.login-card {
    -fx-max-width: 400;
    -fx-padding: 32;
    -fx-spacing: 16;
    -fx-min-width: 450px;
     -fx-min-height: 500px;
    -fx-background-color: white;
    -fx-background-radius: 16;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.1), 20, 0.5, 0, 0);
    -fx-alignment: top-center;
}

.icon-container {
    -fx-background-color: linear-gradient(to bottom right, #2979FF, #448AFF);
    -fx-shape: "M 15,0 A 15,15 0 0 1 15,30 A 15,15 0 0 1 15,0 Z";
    -fx-padding: 12;
    -fx-background-radius: 50; /* Make it a circle */
    -fx-max-width: 64;
    -fx-max-height: 64;
    -fx-alignment: center;
}

.icon-svg {
    -fx-fill: white;
}

.title {
    -fx-font-size: 28px;
    -fx-font-weight: bold;
    -fx-text-fill: #212121;
}

.subtitle {
    -fx-font-size: 14px;
    -fx-text-fill: #757575;
    -fx-text-alignment: center;
}

.form-label {
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-text-fill: #424242;
    -fx-padding: 0 0 0 4;
}

.form-field-container {
    -fx-alignment: center-left;
}

.form-field {
    -fx-prompt-text-fill: #BDBDBD;
    -fx-background-color: #F5F5F5;
    -fx-background-radius: 8;
    -fx-border-color: transparent;
    -fx-font-size: 14px;
    -fx-padding: 10 10 10 40;
}

.form-field:focused {
    -fx-background-color: white;
    -fx-border-color: #2979FF;
    -fx-border-width: 1;
    -fx-border-radius: 8;
}

.field-icon {
    -fx-fill: #757575;
    -fx-translate-x: 12;
}

.login-button {
    -fx-background-color: linear-gradient(to bottom right, #2979FF, #448AFF);
    -fx-text-fill: white;
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-background-radius: 8;
    -fx-padding: 12;
    -fx-cursor: hand;
}

.login-button:hover {
    -fx-effect: dropshadow(gaussian, rgba(3, 169, 244, 0.4), 10, 0.5, 0, 0);
}
